body{
font-family:Arial;
background:#f4f6f9;
margin:0;
}

.nav{
background:#2c7be5;
color:white;
padding:12px;
text-align:center;
}

.nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.container{
width:900px;
margin:auto;
margin-top:30px;
}

.card{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
box-shadow:0 0 10px #ddd;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
border:1px solid #ddd;
padding:10px;
}

th{
background:#2c7be5;
color:white;
}
